<ul>
<%@displayed.each do |video|%>
<li><%= video[1].title%></li>
<li><%= link_to (image_tag(video[1].thumbnail_url)), watch_path(video[0].id)%></li>
<%end%>
</ul>
<%= link_to 'see more videos', watch_index_path%>


<ul>
<% @poems.each do |poem|%>
  <li><%= poem.author %></li>
  <li><%= poem.body.html_safe %></li>
<%end%>
</ul>

<%=link_to 'AddRead', new_read_path%>

