
<%=form_for @guest, :url => guest_path do |f|%>
<%= f.text_field :email, placeholder: 'coolkid@gmail.com' %> <%= f.submit 'Join The Vibes', class: "btn btn-success"%>
<%end%>
<video>

</video>
<hr>
</br>
<ul>
<%@displayed.each do |video|%>
<li><%= link_to (image_tag(video[1].thumbnail_url)), watch_path(video[0].id)%></li>
<%end%>
</ul>
<%= link_to 'see more videos', watch_index_path%>


<ul>
<% @poems.each do |poem|%>
  <li><%= poem.author %></li>
  <li><%= poem.body.html_safe %></li>
<%end%>
</ul>

<%=link_to 'AddRead', new_read_path%>

