  <div class="container">
<div class="search-buttons">
  <center>
<%= link_to 'promo', watch_index_path(:filter => 'promo'), class: "btn btn-success"%>
<%= link_to 'Music Video', watch_index_path(:filter => 'musicvideo'), class: "btn btn-success"%>
<%= link_to 'Open Mic', watch_index_path(:filter => 'openmic'), class: "btn btn-success" %>
<%= link_to 'performance', watch_index_path(:filter => 'performance'), class: "btn btn-success"%>
  </center>
</div>
<hr>

<div class="grid table-striped">
  <% @displayed.each do |video|%>
    <div class="grid-item">
      <p class="badge type text-right"><%=video[0].category.tag%></p>
      <h3 id="element-title"><%=video[1].title%></h3>
      <%=link_to (image_tag(video[1].thumbnail_url)), watch_path(video[0].id)%>
       <p class="text-justify description">Description:<span><%=video[1].description%></span></p>

    </div>
    <hr>
  <%end%>
</div>

<center>
<%= will_paginate @displayed , renderer: BootstrapPagination::Rails%>
</center>
<!--< embed(video[0].video_id)>-->
</container>
